<div class="row">
	<div class="col-md-8" style="z-index: 10; border: 1px solid #ebf1f6; padding: 0; max-height: 89vh;">
		<center>
			<h4 ng-show="isEmptyObject" id="isEmptyObject" ng-cloak>Hãy chọn người nào đó để
				trò chuyện ngay nào</h4>
		</center>
		<div ng-show="!isEmptyObject" ng-cloak class="msger "
			style="width: 100%; text-align: left; margin-left: 0; border-radius: 5px">
			<header class="msger-header">
				<div class="msger-header-title">
					<a href="#!/profile/{{userMess.userId}}" style="font-weight: 600; color: #212529"><img
							ng-src="{{ userMess.avatar }}"
							style="border-radius: 100%; width: 35px; height: 35px; object-fit: cover;" alt=""> {{
						userMess.username }}</a> &nbsp; <small style="font-size: 0.7rem;">Hoạt động:
						{{getFormattedTimeAgo(userMess.accessTime)}}</small>
				</div>
				<a href="#!message">
					<button style="border: none; background-color: transparent;"><i
							class="fa-solid fa-arrow-left"></i></button>
				</a>
			</header>
			<main class="msger-chat" id="boxChat" ng-drop="onDrop($event)"
				style="padding-top: 1rem; border-top: 1px solid #dee2e6 !important;">
				<div class="msg"
					ng-class="{'left-msg animate__animated animate__backInLeft': mess.sender.userId !== myAccount.user.userId, 'right-msg animate__animated animate__backInRight': mess.sender.userId === myAccount.user.userId}"
					ng-repeat="mess in ListMess">
					<div class="msg-bubble" ng-style="{'background-color': mess.image ? 'transparent' : ''}">
						<div class="msg-info">
							<!-- Hiển thị nút "Thu hồi" -->
							<button class="btn-revoke btn btn-outline-danger py-1 px-2 ms-auto ng-scope"
								ng-show="mess.status != 'Đã ẩn' && mess.sender.userId === myAccount.user.userId"
								ng-cloak ng-click="revokeMessage(mess.messId)"><b>Thu hồi</b></button>
						</div>
						<div class="msg-text mess" style="font-weight: 510;"
							ng-show="mess.status != 'Đã ẩn' && mess.content!=''" ng-cloak>
							{{mess.content}}
						</div>
						<div class="msg-text" ng-show="mess.status == 'Đã ẩn'" style="color: #adb5bd" ng-cloak>Tin nhắn
							đã được thu hồi</div>
						<img alt="" ng-show="mess.image && mess.status != 'Đã ẩn' " ng-cloak ng-src="{{mess.image}}"
							style="max-width: 20rem; border-radius: 5px">

						<div class="msg-info-time">{{getFormattedTimeAgo(mess.sendDate)}}</div>
					</div>

				</div>
			</main>
			<form class="msger-inputarea" style="background: transparent; border-top: 1px solid #ebf1f6;">
				<input id="text-srh" ng-model="newMess" style="padding: 0;" type="text" class=" form-control"
					placeholder="Nhập tin nhắn của bạn...">
				<span style="margin: 0; padding: 0; height: 0; cursor: pointer;" data-bs-toggle="modal"
					href="#exampleModalToggle"><i style="margin: 0; padding: 0;padding-right: 1rem;"
						class="fa-regular fa-camera-retro"></i></span>
				<span style="margin: 0; padding: 0; height: 0; cursor: pointer;" class="microphone">
					<i style="margin: 0; padding: 0;padding-right: 1rem;" class="fas fa-microphone"></i>
					<span class="recording-icon"></span>
				</span>
				<a style="margin: 0; padding: 0; height: 0; cursor: pointer; " ng-click="openLink(userMess.userId)"><i
						style="padding: 0;" class="fa-regular fa-phone"></i></a>
				<button type="submit" class="msger-send-btn"
					style="background: transparent; padding: 0; border-radius: 10px; border: none; color: #3a57e8; height: 0;"
					ng-click="sendMessage(myAccount.user.userId, newMess, userMess.userId)">
					<i class="fa-regular fa-paper-plane" style="padding-top: 0; padding-bottom: 0;"></i>
				</button>
			</form>
		</div>
	</div>
	<div class="col-md-4" id="menuMessLeft"
		style="border: 1px solid #ebf1f6; padding-top: 0.5rem; background-color: #fff; height: 89vh; overflow: scroll;">
		<ul class="list-unstyled mb-0">
			<li ng-repeat="UsersMess in ListUsersMess" class="hver"
				style="padding: 0.7rem!important; padding-right: 1.5rem!important; transition: 0.3s;"
				ng-style="{'background-color': UsersMess[2] === itemSelected ? 'rgba(93, 135, 255, 0.1)' : 'transparent'}">
				<a href="#!/message/{{UsersMess[2]}}" class="messLink">
					<div class="user-profile">
						<!-- Nội dung khi UsersMess[0] = 'UI010' -->
						<img ng-src="{{ UsersMess[5] }}"
							style="border-radius: 100%; border: 1px solid #ebf1f6; width: 3.5rem; height: 3.5rem; max-width: none;"
							alt="">
						<div style="width: 100%; line-height: 0.7rem; margin-left: 0.3rem;">
							<div style="display: flex;">
								<b class="ng-binding" style=" color: #393e41; font-size: 14px;">{{
									UsersMess[3] }} <span class="badge p-1" ng-show="
									UsersMess[11]>0" style="font-size: 12px; background-color: red; border-radius: 50%; width: 20px; height: 20px;">{{
										UsersMess[11] }}</span></b>
							</div>
							<br>
							<div style="display: flex; justify-content: space-between; height: 13px; flex-wrap: wrap;
							flex-direction: column;">
								<small
									style="font-size: 13px; overflow: hidden; width: 40%; white-space: nowrap; text-overflow: ellipsis;">{{
									UsersMess[6] }} </small>
								<!-- <small ng-if="UsersMess[8] === 'Đã ẩn'"
									style="font-size: 13px; overflow: hidden; width: 60%; white-space: nowrap; text-overflow: ellipsis;">Tin
									nhắn đã được thu hồi </small> -->
								<small style="font-size: 12px; color: #65676b; white-space: nowrap;"
									class="ng-binding">{{getFormattedTimeAgo(UsersMess[7]) }}</small>
							</div>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
		tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content" style="background-color: rgba(246, 245, 244, 1);">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalToggleLabel">
						<b>Chọn ảnh</b>
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="postForm" enctype="multipart/form-data">

						<div id="dropArea" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);"
							ondragleave="dragLeaveHandler(event);">
							<i class="fa-light fa-download" style="font-size: 4rem;"></i>
						</div>
						<div class="input-group mb-3">
							<label class="input-group-text" for="inputGroupFile01"> <i
									class="fa-regular fa-image"></i>{{ 'HAVD' | translate }}
							</label> <input type="file" class="form-control" name="mediaFiles" id="inputGroupFile01"
								multiple>
						</div>
						<div id="mediaList"></div>
					</form>
				</div>
				<div class="modal-footer">
					<button ng-click="uploadFile()" style="width: 500px; border: none; background-color: #007ACC ;"
						class="btn-blue" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
						data-bs-dismiss="modal">Gửi ảnh</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		var selectedMedia = []; // Mảng để lưu trữ các tệp đã chọn từ cả hai lần chọn hình ảnh

		document.getElementById('dropArea').addEventListener('click',
			function () {
				document.getElementById('inputGroupFile01').click();
			});

		document.getElementById('inputGroupFile01').addEventListener('change',
			function () {
				handleFiles(this.files);
			});

		function dropHandler(event) {
			event.preventDefault();
			var files = event.dataTransfer.files;
			handleFiles(files);
		}

		function handleFiles(files) {
			var mediaType = /^image\//;
			var videoType = /^video\//;
			var mediaList = document.getElementById('mediaList');

			for (var i = 0; i < files.length; i++) {
				var file = files[i];
				if (mediaType.test(file.type) || videoType.test(file.type)) {
					var reader = new FileReader();
					reader.onload = (function (file) {
						return function () {
							if (mediaType.test(file.type)) {
								var media = new Image();
								media.src = this.result;
								media.classList.add('previewMedia');
								var container = createMediaContainer(media,
									file);
								mediaList.appendChild(container);
							} else if (videoType.test(file.type)) {
								var media = document.createElement('video');
								media.src = this.result;
								media.setAttribute('controls', 'controls');
								media.classList.add('previewMedia');
								var container = createMediaContainer(media,
									file);
								mediaList.appendChild(container);
							}
						};
					})(file);
					reader.readAsDataURL(file);
					selectedMedia.push(file);
				}
			}

			// Cập nhật lại những ảnh hoặc video đã chọn trong phần tử <input>
			var dataTransfer = new DataTransfer();
			for (var i = 0; i < selectedMedia.length; i++) {
				dataTransfer.items.add(selectedMedia[i]);
			}
			document.getElementById('inputGroupFile01').files = dataTransfer.files;
		}

		function createMediaContainer(media, file) {
			var container = document.createElement('div');
			container.classList.add('previewMediaContainer');
			container.appendChild(media);

			var deleteButton = document.createElement('button');
			deleteButton.innerHTML = 'X';
			deleteButton.classList.add('deleteButton');
			deleteButton
				.addEventListener(
					'click',
					function () {
						// Xóa hình ảnh khỏi giao diện và khỏi mảng selectedMedia khi người dùng xóa
						var index = selectedMedia.indexOf(file);
						if (index !== -1) {
							selectedMedia.splice(index, 1);
						}
						// Cập nhật lại những ảnh hoặc video đã chọn trong phần tử <input>
						var dataTransfer = new DataTransfer();
						for (var i = 0; i < selectedMedia.length; i++) {
							dataTransfer.items.add(selectedMedia[i]);
						}
						document.getElementById('inputGroupFile01').files = dataTransfer.files;

						container.remove();
					});

			container.appendChild(deleteButton);

			return container;
		}

		function dragOverHandler(event) {
			event.preventDefault();
			event.target.classList.add('active');
		}

		function dragLeaveHandler(event) {
			event.preventDefault();
			event.target.classList.remove('active');
		}
		function toggleColor(link) {
			var allLinks = document.getElementsByClassName("colorful-link");

			for (var i = 0; i < allLinks.length; i++) {
				var currentLink = allLinks[i];
				currentLink.classList.remove("active"); // Loại bỏ lớp 'active' từ tất cả các thẻ

				if (currentLink === link) {
					link.classList.add("active"); // Thêm lớp 'active' vào thẻ được bấm
				}
			}
		}
	</script>
</div>