<div ng-controller="PostsViolationController">
  <div class="row">
    <div class="card-title fw-semibold mb-2">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav flex-row align-items-center justify-content-between mb-2">
          <input type="checkbox" ng-click="selectAll()" ng-model="selectAllCheckbox"
          class="form-check-input ms-3 me-4 hover-effect"
          style="border: 3px solid rgb(34, 31, 31);">
          <a style="cursor: pointer;"  ng-click="deletePostViolations()" class="me-5" data-bs-placement="top"
            title="Xóa tố cáo bài viết vi phạm">
            <i class="fa-regular fa-trash-can fa-lg"></i>
          </a> 
          <small class="mt-1" ng-if="selectedCountText > 0"> Đã
            chọn <b style="color: red">{{ selectedCountText }}</b> mục 
          </small>
        </ul>
          <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
            <!-- Nút chuyển đến trang trước -->
            <a class="me-2" ng-click="prevPage()"> <i
                class="fa-solid fa-chevron-left fa-xs"></i>
            </a>
            <!-- Hiển thị thông tin trang hiện tại và tổng số trang -->
            <small class="me-2">{{currentPage + 1}} /
              {{totalPages}}</small>
            <!-- Nút chuyển đến trang kế tiếp -->
            <a class="me-3" ng-click="nextPage()"> <i
                class="fa-solid fa-chevron-right fa-xs"></i>
            </a>

            <form class="position-relative">
              <input type="text" class="form-control search-chat ps-5" id="text-srh"
                placeholder="Nhập tên người đăng" ng-change="searchByAuthor()"
                ng-model="searchText" style="border: 1px solid #ccc;"> <i
                class="fa-solid fa-magnifying-glass fa-2xs position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
            </form>
          </ul>


      </nav>
    </div>
    <div class="table-responsive sidebar-scrollable">
      <table class="table text-nowrap mb-0 align-middle">
        <thead class="text-dark fs-4">
          <tr>
            <th class="border-bottom-0">#</th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Tiêu đề bài viết</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Người đăng</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Ngày đăng</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0 text-center">Chi tiết</h6>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="list in listViolations.content" id="row-{{list.postId}}">
            <td class="border-bottom-0 py-3"><input type="checkbox" ng-click="checkboxClicked()"
                ng-model="list.checked" class="form-check-input hover-effect"></td>
            <td class="border-bottom-0" style="max-width: 250px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                {{list[1]}}</td>
            <td class="border-bottom-0" style="max-width: 200px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
              {{list[2]}}
            </td>
            <td class="border-bottom-0">
              <p class="mb-0 fw-normal">{{list[3] | date: 'dd/MM/yyyy'}}</p>
            </td>
            <td class="border-bottom-0 text-center"><a style="cursor: pointer;" data-bs-placement="top"
                title="Xem chi tiết bài viết" ng-click="detailPost(list[0])"> <i
                  class="fa-light fa-eye" style="color: #336cce;"></i>
              </a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Chi tiết</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div style="margin-bottom: 20px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);">
              <a target="_blank" class="image-link ms-2"> <img
                  ng-src="{{post.user.avatar}}" alt="" width="55" height="55"
                  class="rounded-circle mt-3" style="object-fit: cover;">
                <div class="content mt-3">
                  <span class="name">{{post.user.username}}</span> <small>{{post.postDate
                    | date: 'dd/MM/yyyy'}}</small>
                </div>
              </a>
              <div id="detailContent" style="margin-top: 15px; margin-left: 25px;"
                ng-bind="post.content"></div>
              <center style="margin-top: 10px;">
                <div id="carouselExampleFade"
                  class="carousel slide carousel-fade carousel-dark"
                  ng-if="post.images && post.images.length > 0">
                  <div class="carousel-inner">
                    <div class="carousel-item" ng-class="{active: $index === 0}"
                      ng-repeat="imageUrl in post.images">
                      <img ng-src="{{imageUrl.imageUrl}}"
                        class="d-block w-100" alt="">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleFade" data-bs-slide="prev"
                    ng-if="post.images.length > 1">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </button>
                  <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleFade" data-bs-slide="next"
                    ng-if="post.images.length > 1">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </button>

                </div>
              </center>
              <div class="post-reaction mt-3">
                <div class="activity-icons d-flex justify-content ms-3">
                  <div>
                    <i class="fa-regular fa-thumbs-up"></i> &nbsp;
                    {{post.likeCount}}
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <div>
                    <i class="fa-regular fa-comment"></i>&nbsp;
                    {{post.commentCount}}
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>